:root {
    font-size: 16px;
    --font-family: 'Nunito', sans-serif;
    --dark: #212121;
    --gray: #424242;
    --softgray: #616161;
    --yellow: #FEC62E;
    --black: #000000;
    --footer: #212429;
    /* nemiun-02 */
    --colorWhite: #fff;
    --background: #251F24;
    --colorGray: #A5A3A5;
    --colorCode: #3A3539;
    --blue: #157EFB;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    margin: 0;
    background-color: var(--background);

}

img {
    max-width: 100%;
}

/* menu */
.header {
    position: relative;
    margin-top: 4rem;

}

.paragraph-nav {
    color: var(--colorWhite);
}

/* variantes */
.menu-variantes {
    list-style: none;
    padding: 0;
    margin-bottom: 104px;
}

.menu-variantes__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.096);
    vertical-align: middle;
}

.menu-variantes__item {
    margin-bottom: 1rem;
}

.menu-variantes__link {
    text-decoration: none;
    color: var(--colorWhite);
    font-weight: 400;
}


/* menu */
.menu {
    color: var(--colorGray);

}

.menu__title {
    font-size: 0.88rem;
    font-weight: bold;
    color: var(--colorWhite);
    line-height: 1.5rem;
}

.menu__item {
    margin-bottom: 1rem;
}

.menu__link {
    text-decoration: none;
    color: var(--colorGray);
}

/* wrapper */
.wrapper {
    max-width: 650px;
    margin: auto;
    padding: 0 1rem;
}

/* hero */
.hero {
    width: 100%;
    height: 350px;
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);

}

.main-title,
.second-title,
.third-title,
.paragraph {
    font-weight: normal;
}


.main-title {
    margin-top: 4rem;
    font-size: 2rem;
    line-height: 4.3rem;
    color: var(--colorWhite);
    font-weight: bold;

}

.second-title {
    font-size: 2rem;
    line-height: 2.3rem;
    color: var(--colorWhite);
    font-weight: bold;
}

.third-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--colorWhite);
    font-weight: 600;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--colorGray);
}



/* .underline::after {
    content: "";
    inline-size: 4rem;
    block-size: 4px;
    display: block;
    background-color: var(--gray);
    margin-block-start: 4px;
} */


.picture {
    background-color: var(--colorWhite);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.github {

    background-color: var(--background);
}


.quote {
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    background-color: var(--colorCode);
    border-radius: 8px;

}

.quote__title {
    margin: 0;
    color: var(--colorWhite);
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;

}

.quote__user {
    margin-block: 0;
    color: var(--colorWhite);
}

.code {
    background-color: var(--colorCode);
    font-family: var(--font-family);
    padding: 2.5rem 2.5rem;
    border-radius: 8px;
    color: var(--colorWhite);
    line-height: 24px;
    font-weight: normal;
}

.list-numeric {
    padding: 1rem;
}

.list-logico {
    padding: 1rem;
}

/* slider */

.slider__content {
    white-space: nowrap;
    overflow: hidden;

}

.dots {
    margin: 1rem;
    text-align: center;
}



.dots__item {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--colorCode);
    border-radius: 50%;
}

.dots__item:first-child {
    background-color: var(--colorWhite);
}

.mailto {
    color: var(--blue);
}

.newsletter-title {
    font-weight: normal;
    font-size: 1.5rem;
}

/* newsletter */
.newsletter__content {
    margin-top: 1rem;
    margin-bottom: 113px;

}

.input-item-text,
.input-item-email {
    /* display: inline-block; */
    display: block;
}

.input-item {
    border: none;
    font-family: var(--font-family);
    border: 1px solid var(--colorWhite);
    width: 100%;
    font-size: 1rem;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    line-height: 1.5rem;
    outline: none;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--colorWhite);
}

.input-item::placeholder {
    color: var(--colorWhite);
}

.input-item-text {
    width: 100%;
    margin-bottom: 1.5rem;
}

.input-item-email {
    width: 100%;
    margin-bottom: 1.5rem;
}

.input-button {
    width: 100%;
    border: none;
    display: block;
    color: var(--colorWhite);
    font-family: var(--font-family);
    background: var(--blue);
    padding: 0.75rem 1rem;
    border-radius: 8px;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 1rem;


}

/* footer */


.footer {
    background-color: var(--colorWhite);
}

.footer__content {
    padding: 48px 0;
}

.footer-text,
.social {
    text-align: center;
    margin: 0;
    color: var(--dark);
}

.footer-text {
    margin-bottom: 1rem;
}

@media screen and (min-width:1366px) {

    .header {
        position: sticky;
        top: 0px;

    }

    .header__content {
        position: absolute;
        left: 60px;
    }


    .secondTitle {
        font-size: 2.5rem;
        line-height: 55px;
    }

    .main-title {
        font-size: 3.75rem;

    }



}